<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <logger name="ExceptionLogger" additivity="false">
    <level value="ALL" />
    <appender-ref ref="ExceptionFileAppender" />
  </logger>
  <appender name="ExceptionFileAppender" type="log4net.Appender.RollingFileAppender" >
    <param name="File" value="UploadFile/Log/Exception" />
    <param name="AppendToFile" value="true" />
    <encoding value="utf-8" />
    <rollingStyle value="Date" />
    <datePattern value="/yyyy-MM-dd/&quot;Exception@&quot;yyyyMMdd&quot;.txt&quot;" />
    <staticLogFileName value="false" />
    <param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}, %m%n" />
    </layout>
  </appender>
  <logger name="RuningLogger" additivity="false">
    <level value="ALL" />
    <appender-ref ref="RuningFileAppender" />
  </logger>
  <appender name="RuningFileAppender" type="log4net.Appender.RollingFileAppender" >
    <param name="File" value="UploadFile/Log/Runing" />
    <param name="AppendToFile" value="true" />
    <encoding value="utf-8" />
    <rollingStyle value="Date" />
    <datePattern value="/yyyy-MM-dd/&quot;Runing@&quot;yyyyMMdd&quot;.txt&quot;" />
    <staticLogFileName value="false" />
    <param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}, %m%n" />
    </layout>
  </appender>
</log4net>